.bg-post {
  width: 700px;
  height: 250px;
  background: #FFF;
  margin: 20px auto;
  box-shadow: 0 0 10px #CCC;
  border-radius: 5px;
}

.inside-post {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #CCC;
}

.info {
  margin-left: 10px;
}

.name {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.date {
  color: #9A9A9A;
  font-size: 11px;
  font-weight: 500;
  display: block;
}

.question-block{
  width: 660px;
  height: 22px;
  margin: 0px auto 16px auto;
}

.question {
  color: #3E3E3E;
  font-size: 14;
  font-weight: 500;
}

.line{
  width: 660px;
  height: 22px;
  border-bottom: 1px solid #EEE;
  margin: auto;
}